@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #506470;
    font-family: 'Source Code Pro', monospace;
}

nav .title {
    font-size: 30px;
    color: white;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3.5vh;
    margin-top: 20px;
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 20px;
    z-index: 1;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}

nav ul li {
    list-style: none;
    display: inline;
    float: right;
}

nav ul li a {
    display: block;
    padding: 8px;
    color: white;
    transition: 0.6s;
}

nav ul li a:hover {
    color: grey;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}


section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card {
    position: relative;
    width: 500px;
    height: 600px;
    background: rgba(225, 225, 225, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content {
    opacity: 1;
}

.container .card .content .imgBx {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
    font-size: 20px;
    font-weight: 300;
    text-transform: initial;
    font-family: 'Cutive Mono', monospace;
}

.button {
    padding: 5px; 
    background: linear-gradient(90deg, #2196f3, #e91e63);
    border-radius: 40px;
}

.button:hover {
    background: linear-gradient(90deg, #e91e63, #2196f3);
}

.container1 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container1 .card1 {
    position: relative;
    width: 800px;
    height: 600px;
    background: rgba(225, 225, 225, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container1 .card1 .content1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container1 .card1:hover .content1 {
    opacity: 1;
}

.container1 .card1 .content1 .contentBx1 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.container1 .card1 .content1 .contentBx1 h1 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container1 .card1 .content1 .contentBx1 p {
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
}

.together {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container2 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container2 .card2 {
    position: relative;
    width: 325px;
    height: 425px;
    background: rgba(225, 225, 225, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container2 .card2 .content2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container2 .card2:hover .content2 {
    opacity: 1;
}

.container2 .card2 .content2 .contentBx2 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.container2 .card2 .content2 .contentBx2 .imgBx2 img {
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: white;
}